<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DSEDiagnosticAnalyticParserConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

	<runtime>
		<gcConcurrent enabled="false"/>
		<gcServer enabled="true"/>
	</runtime>

  <log4net>
    <!-- A1 is set to be a ConsoleAppender -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <!--appender name="FileAppender" type="log4net.Appender.RollingFileAppender"-->
      <file value="DSEDiagnosticAnalyticParserConsole.log" />
      <!--file value="DSEDiagnosticAnalyticParserConsole_" -->
      <!--rollingStyle value="Date"-->
      <!--datePattern value="yyyyMMdd_HHmm.lo\g"-->
      <!--staticLogFileName value="true"/-->
      <appendToFile value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %timestamp [%thread] %level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <!-- Set root logger level to DEBUG and its only appender to A1 -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>

    <applicationSettings>
        <DSEDiagnosticAnalyticParserConsole.Properties.Settings>
            <setting name="MaxRowInExcelWorkBook" serializeAs="String">
                <value>1800000</value>
            </setting>
            <setting name="MaxRowInExcelWorkSheet" serializeAs="String">
                <value>600000</value>
            </setting>
            <setting name="GCFlagThresholdInMS" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="CompactionFlagThresholdInMS" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SlowLogQueryThresholdInMS" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="LogCurrentDate" serializeAs="String">
                <value />
            </setting>
            <setting name="LogSummaryPeriods" serializeAs="String">
                <value />
            </setting>
            <setting name="LogSummaryPeriodRanges" serializeAs="String">
                <value>[{"Item1":"4.00:00:00","Item2":"00:30:00"},{"Item1":"3.00:00:00","Item2":"12:00:00"},{"Item1":"4.00:00:00","Item2":"1.00:00:00"}]</value>
            </setting>
            <setting name="LogExcelWorkbookFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcelTemplateFilePath" serializeAs="String">
                <value>.\dseTemplate.xlsm</value>
            </setting>
            <setting name="ExcelFilePath" serializeAs="String">
                <value>[DeskTop]\Test.xlsm</value>
            </setting>
            <setting name="DiagnosticPath" serializeAs="String">
                <value>[Personal]\DSEData\HL_Statim_Cluster-diagnostics-2016_09_12_14_39_32_UTC</value>
            </setting>
            <setting name="AlternativeLogFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="AlternativeDDLFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcelWorkSheetRingInfo" serializeAs="String">
                <value>Node Information</value>
            </setting>
            <setting name="ExcelWorkSheetRingTokenRanges" serializeAs="String">
                <value>Ring Token Ranges</value>
            </setting>
            <setting name="ExcelWorkSheetCFStats" serializeAs="String">
                <value>CFStats</value>
            </setting>
            <setting name="ExcelWorkSheetNodeStats" serializeAs="String">
                <value>NodeStats</value>
            </setting>
            <setting name="ExcelWorkSheetLogCassandra" serializeAs="String">
                <value>Cassandra Log</value>
            </setting>
            <setting name="ExcelWorkSheetDDLKeyspaces" serializeAs="String">
                <value>DDL Keyspaces</value>
            </setting>
            <setting name="ExcelWorkSheetDDLTables" serializeAs="String">
                <value>DDL Tables</value>
            </setting>
            <setting name="ExcelWorkSheetCompactionHist" serializeAs="String">
                <value>Compaction History</value>
            </setting>
            <setting name="ExcelWorkSheetYaml" serializeAs="String">
                <value>Settings-Yamls</value>
            </setting>
            <setting name="ExcelWorkSheetOSMachineInfo" serializeAs="String">
                <value>OS-Machine Info</value>
            </setting>
            <setting name="ExcelWorkSheetSummaryLogCassandra" serializeAs="String">
                <value>Cassandra Summary Logs</value>
            </setting>
            <setting name="ExcelWorkSheetStatusLogCassandra" serializeAs="String">
                <value>Cassandra Status Logs</value>
            </setting>
            <setting name="IgnoreKeySpaces" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>dse_system</string>
                        <string>system_auth</string>
                        <string>system_distributed</string>
                        <string>system_schema</string>
                        <string>system</string>
                        <string>dse_security</string>
                        <string>solr_admin</string>
                        <string>dse_auth</string>
                        <string>dse_leases</string>
                        <string>system_traces</string>
                        <string>dse_perf</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CFStatsCreateMBColumns" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>memory used</string>
                        <string>bytes</string>
                        <string>space used</string>
                        <string>data size</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DiagNodeDir" serializeAs="String">
                <value>nodes</value>
            </setting>
            <setting name="NodetoolDir" serializeAs="String">
                <value>nodetool</value>
            </setting>
            <setting name="DSEToolDir" serializeAs="String">
                <value>dsetool</value>
            </setting>
            <setting name="LogsDir" serializeAs="String">
                <value>logs</value>
            </setting>
            <setting name="NodetoolRingFile" serializeAs="String">
                <value>ring</value>
            </setting>
            <setting name="DSEtoolRingFile" serializeAs="String">
                <value>ring</value>
            </setting>
            <setting name="NodetoolCFStatsFile" serializeAs="String">
                <value>cfstats</value>
            </setting>
            <setting name="NodetoolTPStatsFile" serializeAs="String">
                <value>tpstats</value>
            </setting>
            <setting name="NodetoolInfoFile" serializeAs="String">
                <value>info</value>
            </setting>
            <setting name="NodetoolCompactionHistFile" serializeAs="String">
                <value>compactionhistory</value>
            </setting>
            <setting name="LogCassandraSystemLogFile" serializeAs="String">
                <value>system</value>
            </setting>
            <setting name="LogCassandraSystemLogFileArchive" serializeAs="String">
                <value>{0}*</value>
            </setting>
            <setting name="ConfCassandraDir" serializeAs="String">
                <value>.\conf\cassandra</value>
            </setting>
            <setting name="ConfCassandraFile" serializeAs="String">
                <value>cassandra.yaml</value>
            </setting>
            <setting name="ConfDSEDir" serializeAs="String">
                <value>.\conf\dse</value>
            </setting>
            <setting name="ConfDSEYamlFile" serializeAs="String">
                <value>dse.yaml</value>
            </setting>
            <setting name="ConfDSEFile" serializeAs="String">
                <value>dse</value>
            </setting>
            <setting name="CQLDDLDirFile" serializeAs="String">
                <value>.\cqlsh\describe_schema</value>
            </setting>
            <setting name="CQLDDLDirFileExt" serializeAs="String">
                <value>*.cql</value>
            </setting>
            <setting name="OSMachineFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>java_heap.json</string>
                        <string>java_system_properties.json</string>
                        <string>machine-info.json</string>
                        <string>os-info.json</string>
                        <string>agent_version.json</string>
                        <string>.\os-metrics\cpu.json</string>
                        <string>.\os-metrics\load_avg.json</string>
                        <string>.\os-metrics\memory.json</string>
                        <string>.\ntp\ntpstat</string>
                        <string>.\ntp\ntptime</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OPSCenterDir" serializeAs="String">
                <value>.\opscenterd</value>
            </setting>
            <setting name="OPSCenterFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>node_info.json</string>
                        <string>repair_service.json</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TableHistogramFileName" serializeAs="String">
                <value>tablehistogram</value>
            </setting>
            <setting name="ExcelCFHistogramWorkSheet" serializeAs="String">
                <value>TableHistogram</value>
            </setting>
            <setting name="CFHistogramFileName" serializeAs="String">
                <value>cfhistogram</value>
            </setting>
            <setting name="CFStatsAttribs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Average live cells per slice (last five minutes)</string>
                        <string>Average tombstones per slice (last five minutes)</string>
                        <string>Batch size maximum</string>
                        <string>Batch size mean</string>
                        <string>Batch size minimum</string>
                        <string>Batch size occurrences</string>
                        <string>Bloom filter false positives</string>
                        <string>Bloom filter false ratio</string>
                        <string>Bloom filter off heap memory used</string>
                        <string>Bloom filter space used</string>
                        <string>Compacted partition maximum bytes</string>
                        <string>Compacted partition mean bytes</string>
                        <string>Compacted partition minimum bytes</string>
                        <string>Compaction maximum latency</string>
                        <string>Compaction maximum rate</string>
                        <string>Compaction mean latency</string>
                        <string>Compaction mean rate</string>
                        <string>Compaction minimum latency</string>
                        <string>Compaction minimum rate</string>
                        <string>Compaction occurrences</string>
                        <string>Compression metadata off heap memory used</string>
                        <string>Index summary off heap memory used</string>
                        <string>Local read count</string>
                        <string>Local read latency</string>
                        <string>Local write count</string>
                        <string>Local write latency</string>
                        <string>Maximum live cells per slice (last five minutes)</string>
                        <string>Maximum tombstones per slice (last five minutes)</string>
                        <string>MemTable Write OPS maximum</string>
                        <string>MemTable Write OPS mean</string>
                        <string>MemTable Write OPS minimum</string>
                        <string>MemTable Write Size maximum</string>
                        <string>MemTable Write Size mean</string>
                        <string>MemTable Write Size minimum</string>
                        <string>MemTable Write occurrences</string>
                        <string>Memtable cell count</string>
                        <string>Memtable data size</string>
                        <string>Memtable off heap memory used</string>
                        <string>Memtable switch count</string>
                        <string>Number of keys (estimate)</string>
                        <string>Off heap memory used (total)</string>
                        <string>Partition large maximum</string>
                        <string>Partition large mean</string>
                        <string>Partition large minimum</string>
                        <string>Partition large occurrences</string>
                        <string>Pending flushes</string>
                        <string>Read Count</string>
                        <string>Read latency</string>
                        <string>Read latency maximum</string>
                        <string>SSTable Compression Ratio</string>
                        <string>SSTable count</string>
                        <string>SSTable read maximum </string>
                        <string>Space used (live)</string>
                        <string>Space used (total)</string>
                        <string>Space used by snapshots (total)</string>
                        <string>Tombstones warning Total</string>
                        <string>Tombstones warning maximum</string>
                        <string>Tombstones warning mean</string>
                        <string>Tombstones warning minimum</string>
                        <string>Tombstones warning occurrences</string>
                        <string>Write Count</string>
                        <string>Write latency</string>
                        <string>Write latency maximum</string>
                        <string>Unlogged Batch Partitions Count Total</string>
                        <string>Unlogged Batch Partitions Count maximum</string>
                        <string>Unlogged Batch Partitions Count mean</string>
                        <string>Unlogged Batch Partitions Count minimum</string>
                        <string>Unlogged Batch Partitions Count occurrences</string>
                        <string>Tombstones query aborted Total</string>
                        <string>Tombstones query aborted maximum</string>
                        <string>Tombstones query aborted mean</string>
                        <string>Tombstones query aborted minimum</string>
                        <string>Tombstones query aborted occurences</string>
                        <string>Read Repair maximum latency</string>
                        <string>Read Repair minimum latency</string>
                        <string>Read Repair mean latency</string>
                        <string>Read Repair occurrences</string>
                        <string>Read Repair Aborted occurrences</string>
                        <string>Solr reindex duration maximum</string>
                        <string>Solr reindex duration minimum</string>
                        <string>Solr reindex duration mean</string>
                        <string>Solr reindex duration stdev</string>
                        <string>Solr reindex occurrences</string>
                        <string>AntiCompaction maximum latency</string>
                        <string>AntiCompaction mean latency</string>
                        <string>AntiCompaction minimum latency</string>
                        <string>AntiCompaction occurrences</string>
                        <string>AntiCompaction SSTable count</string>
                        <string>AntiCompaction maximum rate</string>
                        <string>AntiCompaction mean rate</string>
                        <string>AntiCompaction minimum rate</string>
                        <string>AntiCompaction rate occurrences</string>
                        <string>Memtable Flush maximum latency</string>
                        <string>Memtable Flush mean latency</string>
                        <string>Memtable Flush minimum latency</string>
                        <string>Memtable Flush occurrences</string>
                        <string>Memtable Flush maximum IORate</string>
                        <string>Memtable Flush mean IORate</string>
                        <string>Memtable Flush minimum IORate</string>
                        <string>Memtable Flush maximum Storage</string>
                        <string>Memtable Flush mean Storage</string>
                        <string>Memtable Flush minimum Storage</string>
                        <string>Memtable Flush total Storage</string>
                        <string>Solr Hard Commit duration maximum</string>
                        <string>Solr Hard Commit duration minimum</string>
                        <string>Solr Hard Commit duration mean</string>
                        <string>Solr Hard Commit duration stdev</string>
                        <string>Solr Hard Commit occurrences</string>
                        <string>Schema Created occurrences</string>
                        <string>Schema Dropped occurrences</string>
                        <string>Schema Updated occurrences</string>
                        <string>MemTable Write OPS Delta maximum</string>
                        <string>MemTable Write OPS Delta minimum</string>
                        <string>MemTable Write OPS Delta mean</string>
                        <string>MemTable Write Delta occurrences</string>
                        <string>MemTable Write Size Delta maximum</string>
                        <string>MemTable Write Size Delta minimum</string>
                        <string>MemTable Write Size Delta mean</string>
                        <string>MemTable Write Size Delta Total</string>
                        <string>Query read warning Total</string>
                        <string>Query read warning maximum</string>
                        <string>Query read warning minimum</string>
                        <string>Query read warning mean</string>
                        <string>Query read warning occurrences</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="NodeAttribs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>AntiEntropySessions</string>
                        <string>AntiEntropyStage</string>
                        <string>AntiEntropyStage Total</string>
                        <string>AntiEntropyStage maximum</string>
                        <string>AntiEntropyStage mean</string>
                        <string>AntiEntropyStage minimum</string>
                        <string>AntiEntropyStage occurrences</string>
                        <string>BINARY</string>
                        <string>COUNTER_MUTATION</string>
                        <string>CacheCleanupExecutor</string>
                        <string>CommitLogArchiver</string>
                        <string>CompactionExecutor</string>
                        <string>CompactionExecutor Total</string>
                        <string>CompactionExecutor maximum</string>
                        <string>CompactionExecutor mean</string>
                        <string>CompactionExecutor minimum</string>
                        <string>CompactionExecutor occurrences</string>
                        <string>CounterMutationStage</string>
                        <string>CounterMutationStage Total</string>
                        <string>CounterMutationStage maximum</string>
                        <string>CounterMutationStage mean</string>
                        <string>CounterMutationStage minimum</string>
                        <string>CounterMutationStage occurrences</string>
                        <string>GC maximum latency</string>
                        <string>GC mean latency</string>
                        <string>GC minimum latency</string>
                        <string>GC occurrences</string>
                        <string>GossipStage</string>
                        <string>GossipStage Total</string>
                        <string>GossipStage maximum</string>
                        <string>GossipStage mean</string>
                        <string>GossipStage minimum</string>
                        <string>GossipStage occurrences</string>
                        <string>HintedHandoff</string>
                        <string>HintedHandoff Total</string>
                        <string>HintedHandoff maximum</string>
                        <string>HintedHandoff mean</string>
                        <string>HintedHandoff minimum</string>
                        <string>HintedHandoff occurrences</string>
                        <string>InternalResponseStage</string>
                        <string>InternalResponseStage Total</string>
                        <string>InternalResponseStage maximum</string>
                        <string>InternalResponseStage mean</string>
                        <string>InternalResponseStage minimum</string>
                        <string>InternalResponseStage occurrences</string>
                        <string>MUTATION</string>
                        <string>MemtableFlushWriter</string>
                        <string>MemtableFlushWriter Total</string>
                        <string>MemtableFlushWriter maximum</string>
                        <string>MemtableFlushWriter mean</string>
                        <string>MemtableFlushWriter minimum</string>
                        <string>MemtableFlushWriter occurrences</string>
                        <string>MemtablePostFlush</string>
                        <string>MemtablePostFlush Total</string>
                        <string>MemtablePostFlush maximum</string>
                        <string>MemtablePostFlush mean</string>
                        <string>MemtablePostFlush minimum</string>
                        <string>MemtablePostFlush occurrences</string>
                        <string>MemtableReclaimMemory</string>
                        <string>MemtableReclaimMemory Total</string>
                        <string>MemtableReclaimMemory maximum</string>
                        <string>MemtableReclaimMemory mean</string>
                        <string>MemtableReclaimMemory minimum</string>
                        <string>MemtableReclaimMemory occurrences</string>
                        <string>MigrationStage</string>
                        <string>MigrationStage Total</string>
                        <string>MigrationStage maximum</string>
                        <string>MigrationStage mean</string>
                        <string>MigrationStage minimum</string>
                        <string>MigrationStage occurrences</string>
                        <string>MiscStage</string>
                        <string>MutationStage</string>
                        <string>MutationStage Total</string>
                        <string>MutationStage maximum</string>
                        <string>MutationStage mean</string>
                        <string>MutationStage minimum</string>
                        <string>MutationStage occurrences</string>
                        <string>PAGED_RANGE</string>
                        <string>Pause maximum latency</string>
                        <string>Pause mean latency</string>
                        <string>Pause minimum latency</string>
                        <string>Pause occurrences</string>
                        <string>PendingRangeCalculator</string>
                        <string>PendingRangeCalculator Total</string>
                        <string>PendingRangeCalculator maximum</string>
                        <string>PendingRangeCalculator mean</string>
                        <string>PendingRangeCalculator minimum</string>
                        <string>PendingRangeCalculator occurrences</string>
                        <string>RANGE_SLICE</string>
                        <string>READ</string>
                        <string>READ_REPAIR</string>
                        <string>REQUEST_RESPONSE</string>
                        <string>ReadRepairStage</string>
                        <string>ReadRepairStage Total</string>
                        <string>ReadRepairStage maximum</string>
                        <string>ReadRepairStage mean</string>
                        <string>ReadRepairStage minimum</string>
                        <string>ReadRepairStage occurrences</string>
                        <string>ReadStage</string>
                        <string>ReadStage Total</string>
                        <string>ReadStage maximum</string>
                        <string>ReadStage mean</string>
                        <string>ReadStage minimum</string>
                        <string>ReadStage occurrences</string>
                        <string>RequestResponseStage</string>
                        <string>RequestResponseStage Total</string>
                        <string>RequestResponseStage maximum</string>
                        <string>RequestResponseStage mean</string>
                        <string>RequestResponseStage minimum</string>
                        <string>RequestResponseStage occurrences</string>
                        <string>Sampler</string>
                        <string>Slow Query maximum latency</string>
                        <string>Slow Query mean latency</string>
                        <string>Slow Query minimum latency</string>
                        <string>Slow Query occurrences</string>
                        <string>ValidationExecutor</string>
                        <string>_TRACE</string>
                        <string>OutOfMemoryError occurrences</string>
                        <string>CommitLogFlushFailure occurrences</string>
                        <string>Dropped Hints Total</string>
                        <string>Dropped Hints maximum</string>
                        <string>Dropped Hints mean</string>
                        <string>Dropped Hints minimum</string>
                        <string>Dropped Hints occurrences</string>
                        <string>Allocation Failed Maximum Memory Reached Total</string>
                        <string>Allocation Failed Maximum Memory Reached maximum</string>
                        <string>Allocation Failed Maximum Memory Reached minimum</string>
                        <string>Allocation Failed Maximum Memory Reached mean</string>
                        <string>Allocation Failed Maximum Memory Reached occurrences</string>
                        <string>Dropped Mutation Total</string>
                        <string>Dropped Mutation maximum</string>
                        <string>Dropped Mutation mean</string>
                        <string>Dropped Mutation minimum</string>
                        <string>Dropped Mutation occurrences</string>
                        <string>GC Continuous maximum latency</string>
                        <string>GC Continuous minimum latency</string>
                        <string>GC Continuous mean latency</string>
                        <string>GC Continuous occurrences</string>
                        <string>GC Continuous latency</string>
                        <string>GC Continuous standard deviation latency</string>
                        <string>GC TimeFrame maximum latency</string>
                        <string>GC TimeFrame minimum latency</string>
                        <string>GC TimeFrame mean latency</string>
                        <string>GC TimeFrame occurrences</string>
                        <string>GC TimeFrame latency</string>
                        <string>GC TimeFrame standard deviation latency</string>
                        <string>GC TimeFrame percent</string>
                        <string>Timedout Hints Total</string>
                        <string>Timedout Hints maximum</string>
                        <string>Timedout Hints mean</string>
                        <string>Timedout Hints minimum</string>
                        <string>Timedout Hints occurrences</string>
                        <string>Concurrent Compaction maximum</string>
                        <string>Concurrent Compaction minimum</string>
                        <string>Concurrent Compaction mean</string>
                        <string>Concurrent Compaction standard deviation</string>
                        <string>Concurrent Compaction Total</string>
                        <string>Concurrent Compaction occurrences</string>
                        <string>Concurrent MemtableFlush maximum</string>
                        <string>Concurrent MemtableFlush minimum</string>
                        <string>Concurrent MemtableFlush mean</string>
                        <string>Concurrent MemtableFlush standard deviation</string>
                        <string>Concurrent MemtableFlush Total</string>
                        <string>Concurrent MemtableFlush occurrences</string>
                        <string>Concurrent Compaction/Flush Performance Warnings maximum</string>
                        <string>Concurrent Compaction/Flush Performance Warnings minimum</string>
                        <string>Concurrent Compaction/Flush Performance Warnings mean</string>
                        <string>Concurrent Compaction/Flush Performance Warnings standard deviation</string>
                        <string>Concurrent Compaction/Flush GC maximum</string>
                        <string>Concurrent Compaction/Flush GC minimum</string>
                        <string>Concurrent Compaction/Flush GC mean</string>
                        <string>Concurrent Compaction/Flush GC standard deviation</string>
                        <string>Shard State Change Schema</string>
                        <string>Shard State Change Dead Node</string>
                        <string>Node Marked Down (Dropped Hints)</string>
                        <string>Node Not Responding (Timed Out Hints)</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TableHistogramAttribs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>SSTables</string>
                        <string>Write Latency</string>
                        <string>Read Latency</string>
                        <string>Partition Size</string>
                        <string>Cell Count</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PerformanceKeyspaces" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>system_traces</string>
                        <string>dse_perf</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LogSummaryTaskItems" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>SliceQueryFilter.java</string>
                        <string>BatchStatement.java</string>
                        <string>CompactionController.java</string>
                        <string>HintedHandoffMetrics.java</string>
                        <string>GCInspector.java</string>
                        <string>MessagingService.java</string>
                        <string>CompactionTask.java</string>
                        <string>RepairSession.java</string>
                        <string>SSTableWriter.java</string>
                        <string>CqlSlowLogWriter.java</string>
                        <string>CqlSolrQueryExecutor.java</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SummaryIgnoreExceptions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>warn</string>
                        <string>error</string>
                        <string>internal_error</string>
                        <string>failed</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ExcelWorkSheetExceptionSummaryLogCassandra" serializeAs="String">
                <value>Cassandra Exception Summary Log</value>
            </setting>
            <setting name="ExcelWorkBookFileExtension" serializeAs="String">
                <value>.xlsx</value>
            </setting>
            <setting name="TableHistogramDirPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ToleranceContinuousGCInMS" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="GCTimeFrameDetection" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="GCTimeFrameDetectionPercentage" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="LogCassandraDirSystemLogs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.\cassandra\system.log</string>
                        <string>.\cassandra\cassandra-system.log</string>
                        <string>.\system.log</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DDLTableWorksheetFilterSort" serializeAs="String">
                <value>{"Item1":null,"Item2":"[Keyspace Name] ASC, [Name] ASC","Item3":"CurrentRows"}</value>
            </setting>
            <setting name="TokenRangeWorksheetFilterSort" serializeAs="String">
                <value>{"Item1":null,"Item2":"[Data Center] ASC, [Node IPAddress] ASC, [Start Token (exclusive)] ASC","Item3":"CurrentRows"}</value>
            </setting>
            <setting name="OSMachineInfoWorksheetFilterSort" serializeAs="String">
                <value>{"Item1":null,"Item2":"[Node IPAddress] ASC, [Data Center] ASC","Item3":"CurrentRows"}</value>
            </setting>
            <setting name="YamlSettingsInfoWorksheetFilterSort" serializeAs="String">
                <value>{"Item1":null,"Item2":"[Yaml Type] ASC, [Property] ASC, [Data Center] ASC, [Node IPAddress] ASC","Item3":"CurrentRows"}</value>
            </setting>
            <setting name="NodeStatsWorksheetFilterSort" serializeAs="String">
                <value>{"Item1":null,"Item2":"[Node IPAddress] ASC","Item3":"CurrentRows"}</value>
            </setting>
            <setting name="DDLKeyspaceWorksheetFilterSort" serializeAs="String">
                <value>{"Item1":null,"Item2":"[Name] ASC, [Data Center] ASC","Item3":"CurrentRows"}</value>
            </setting>
            <setting name="RingInfoWorksheetFilterSort" serializeAs="String">
                <value>{"Item1":null,"Item2":"[Node IPAddress] ASC, [Data Center] ASC","Item3":"CurrentRows"}</value>
            </setting>
            <setting name="SummaryLogWorksheetFilterSort" serializeAs="String">
                <value>{"Item1":null,"Item2":"[Timestamp Period] DESC, [Data Center], [Key], [Path]","Item3":"CurrentRows"}</value>
            </setting>
            <setting name="ExcludePathNamesRegEx" serializeAs="String">
                <value>^\.|^.+\.zip\.?</value>
            </setting>
            <setting name="ContinuousGCNbrInSeries" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CompactionFlagThresholdAsIORate" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LogParsingExcelOptions" serializeAs="String">
                <value>Detect</value>
            </setting>
            <setting name="ParsingExcelOptions" serializeAs="String">
                <value>ParseLoadWorksheets - ParseCompacationHistFiles</value>
            </setting>
            <setting name="SnitcheFiles" serializeAs="String">
                <value>[{"Item1":"SimpleSnitch","Item2":null},{"Item1":"RackInferringSnitch","Item2":null},{"Item1":"PropertyFileSnitch","Item2":".\\cassandra-topology.properties"},{"Item1":"GossipingPropertyFileSnitch","Item2":".\\cassandra-rackdc.properties"},{"Item1":"CloudstackSnitch","Item2":null},{"Item1":"GoogleClouldSnitch","Item2":".\\cassandra-rackdc.properties"},{"Item1":"EC2Snitch","Item2":".\\cassandra-rackdc.properties"},{"Item1":"EC2MultiRegionSnitch","Item2":".\\cassandra-rackdc.properties"}]</value>
            </setting>
            <setting name="CompactionHistWorksheetFilterSort" serializeAs="String">
                <value>{"Item1":null,"Item2":"[Data Center] ASC, [Node IPAddress] ASC, [KeySpace] ASC, [Table] ASC, [Compaction Timestamp (UTC)] ASC","Item3":"CurrentRows"}</value>
            </setting>
            <setting name="StatsWorkBookFilterSort" serializeAs="String">
                <value>{"Item1":null,"Item2":"[Data Center], [Timestamp] ASC","Item3":"CurrentRows"}</value>
            </setting>
            <setting name="ReadRepairWorkSheetName" serializeAs="String">
                <value>Read Repair History</value>
            </setting>
            <setting name="ReadRepairWorksheetFilterSort" serializeAs="String">
                <value>{"Item1":null,"Item2":"[Start Timestamp] ASC, [Session Path] ASC, [Data Center], [Node IPAddress]","Item3":"CurrentRows"}</value>
            </setting>
            <setting name="FileParsingOptions" serializeAs="String">
                <value>OpsCtrDiagStruct</value>
            </setting>
            <setting name="IgnoreLogFileExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.zip</string>
                        <string>.tar</string>
                        <string>.rar</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ExtractFilesWithExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.zip</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MaxNbrAchievedLogFiles" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ReadRepairThresholdInMS" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="CLogLineFormatPositions" serializeAs="String">
                <value>{IndicatorPos:0,TaskPos:1,ItemPos:4,TimeStampPos:2,DescribePos:5}</value>
            </setting>
            <setting name="TableUseWarning" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>system.paxos</string>
                        <string>system_traces</string>
                        <string>dse_perf</string>
                        <string>system_auth</string>
                        <string>dse_security</string>
                        <string>system.batches</string>
                        <string>system.hints</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AlwayIncludeDLLKeyspacess" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>system_distributed</string>
                        <string>dse_perf</string>
                        <string>system_auth</string>
                        <string>dse_security</string>
                        <string>system_traces</string>
                        <string>dse_leases</string>
                        <string>OpsCenter</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DivideWorksheetIfExccedMaxRows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QueueDroppedBlockedWarningThreshold" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="QueueDroppedBlockedWarningPeriodInMins" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="LogReadThrottleTaskCount" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="LogReadThrottleWaitPeriodMS" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ConcurrentAccumulativeIORateThreshold" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SolrHardCommitLatencyThresholdInMS" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="SolrReIndexLatencyThresholdInMS" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="DebugLogFileRegExMatch" serializeAs="String">
                <value>^debug\.log(?:.+)?$</value>
            </setting>
            <setting name="LogCassandraDebugDirSystemLogs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.\cassandra\debug.log</string>
                        <string>.\debug.log</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AntiCompactionLatencyThresholdMS" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="CQLDDLDirFileOpsCtr6" serializeAs="String">
                <value>.\driver\schema</value>
            </setting>
            <setting name="GCComplexAnalysisDisabledOverEvents" serializeAs="String">
                <value>3000</value>
            </setting>
        </DSEDiagnosticAnalyticParserConsole.Properties.Settings>
    </applicationSettings>
</configuration>